* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

footer {
  border-top: 2px solid #ccc;
  padding-top: 10px;
  margin-top: 2px;
}

.logo {
width: 30%;
float: left;
}

.into-image {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

.super-title {
font-size: 40px;
}

.descreption-txt {
  color: #999;
}

.sub-title {
color: #bbb;
  font-size: 25px;
text-decoration: underline;
}

.list-title {
  color: #777;
  font-size: 20px;
  font-style: italic;
}

.projects img {
  width: 100%;
}

.social {
  display: inline;
}

[class*="zocial-"]:before {
  color: gray;
  display: inline-block;
  font-family: 'zocial', sans-serif;
  text-shadow: 1px 1px 1px #ddd;
  width: 2em;
}

